html,body
{
    overflow-x: hidden; 
	font-family: 'Arimo', sans-serif;
}

nav .container-fluid{
	background-color: rgba(58, 68, 122, 0.50);
	font-weight: bold;
}

#page{
	background: #CC4738;
}
.bkgnd{
	margin: 5px;
	background: #eee;
}

#first{
	padding-top: 50px;
	font-weight: bold;
	font-size: 25px;
}

#header{
	background-image: url('chiletour/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
  background-color: #562f2f;
	position: relative;
	height: 550px;
}

#header img{
	display: block;
	position: absolute;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 40%;
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: inline;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}




.navbar-inverse{
	background-color:rgba(0,0,0,0.85);
	z-index: 9999;
}

.section{
	padding: 2% 5% 2% 5%;
	
}

.section h1{
	text-align: center;
	font-size: 3em;
	font-family: 'Acme', sans-serif;
}

.title{
	font-weight: bold;
	text-align: center;
	padding-bottom: 1%;
	padding-top: 2%;
	font-family: 'Fjalla One', sans-serif;
}

hr{
background-color: #aaa;
height: 1px;
}

.-color: black;itemtext{
	border: 2px #ccc solid;
	border-radius: 20px;
	padding: 2%;
	text-align: justify;
	display: inline-block;
	font-size: 1.2em;
}


	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

#mess{
	position: absolute;
	right: 5%;
	background: #CC4738;
	border-radius: .4em;
	margin-top: -2%;
	color: white;
	padding: 0 5px;
	
}

#mess:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #CC4738;
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}

.itemtext{
	border: 1px solid #ccc;
    border-radius: 10px;
	text-align: justify;
	padding: 10px 20px;
	font-size: 105%;
	background-color: rgb(255,255,255);
}

.subtit{
	font-size: 150%;
	font-family: 'Fjalla One', sans-serif;
}

.descripcion{
	text-indent: 20px;
	margin-top:5%;
}

.precios{
	background-color: #5C6BC0;
	font-weight: bold;
	color: white;
	width: 26%;
	height:8%;
	font-size: 3.4vw;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	display:table-cell;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 0;
	border: 2px solid;
	z-index: 1;
	
	-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
	cursor: pointer;
}

.extra{
	position: relative;

}

.incluye{
	width:100%;
}

.opcional{
	width:100%;
}


.vmaipo:hover{
	color: black;
	cursor: pointer;
}

.vcasa:hover{
	color: black;
	cursor: pointer;
}

.vcolcha:hover{
	color: black;
	cursor: pointer;
}

#vmaipo{
	display: none;
}

#vcasa{
	display: none;
}

#vcolcha{
	display:none;
}

#pre:hover{
	color:black;
	cursor:pointer;
}
#preguntas{
	display:none;
}

.imgdim{	
	position: relative;
  background-repeat: no-repeat;
  background-size: cover;
	
}

#myCarousel{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
}

#santa{
	position: relative;
	width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
	background-color: #5C6BC0;
	padding: 20px 20px 20px 20px;
	text-align: center;
}

#footer .itemtext{
	background-color: rgba(255,255,255,0.75);
}

#footer h2{
	font-family: 'Fjalla One', sans-serif;
}

.icon{
	font-size: 250%;
	color: #CC4738;
}

.red{
	color: #404a86;
	padding-bottom: 15px;
	padding-top: 10px;
}

.red:hover{
	color: #9da6d9;
}

.pay{
	text-align: center;
	
}

.pay img{
	max-width: 100%;
    height: auto;
}

#lang{
	position: relative;
	left: 45%
}

#dev a{
	color: #ff6117;
	font-weight: bold;
}

#dev a:hover{
	color: #993a0d;
}
